
<div class="row marketing">
        <h4>Liste des évenements</h4>
        <div ng-repeat="obj in listeEvt track by $id(obj)">
            <div class="col-md-2 col-xs-4">{{obj.id}}</div>
            <div class="col-md-4 col-xs-8">{{obj.titre}}</div>
            <div class="col-md-6 col-xs-12">{{obj.description}}</div>
        </div>  
  <!-- <button value="sdfqsdqf" ui-sref="position">rgergrtgeert</button> 
  <table class="table table-bordered" ng-repeat="module in listeEvt">
    <tr>
        <td>
            <h3>{{ module.title }}</h3>
            <h4>Description</h4>
            <p>{{ module.description }}</p>
        </td>
    </tr>
    <tr ng-repeat="crenau in module.listeCreneaux">
        <td>
            {{ crenau.title }}
        </td>
    </tr> 
</table> -->
    </div> 
<div class="row marketing">
  <h4>Création d'évenement</h4>
    <div class="input-group">
        <span class="input-group-addon">Titre</span>
        <input type="text" class="form-control" placeholder="Titre" ng-model="titre"/>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">Description</span>
        <input type="text" class="form-control" placeholder="Description" ng-model="description"/>
    </div>
    <br>
    <div class="input-group">
        <input type="button" class="btn btn-primary" ng-click="creerEvt()" value="Enregistrer"/>
    </div>
</div>
<div class="row marketing">
    <h4>Suppression d'évenement</h4>
    <div class="input-group">
        <span class="input-group-addon">Id</span>
        <input type="number" class="form-control" ng-model="id"/>
    </div>
    <br>
    <div class="input-group">
        <input type="button" class="btn btn-primary" ng-click="supprimerEvt()" value="Supprimer"/>
    </div>
  
</div>
