
<head>
    
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    
     <script src="scripts/app.js"></script>
<script src="scripts/controllers/creerProfil.js"></script> 
</head>
<body>
<div class="right">
    <ul>
        <li><a ng-click="seConnecter()"/>Se connecter</a></li>
         <li><a ng-click="creer()"/>Créer un profil</a></li>
       <!-- <li><a ui-sref="creerProfil"/>Créer un compte</a></li> -->
       
    </ul>
</div>

    
        <div ng-if="open">
            Login: <input type="text"  ng-model="login"><br/>
            Nom: <input type="text" ng-model="nom"><br/>
            Prenom: <input type="text"ng-model="prenom"><br/>
              <button ng-click="creerProfil(login,nom,prenom)" />Valider<br/>
        </div>  
    
    
    
    
<div ng-if="identification">
    <input type="text" value="Login" ng-model="login"><br/>
  <!--  <input type="text" value="Nom" ng-model="nom"><br/>-->
    <button ng-click="connexion(login)"/>Connexion
</div>
    <div ng-if="!isConnected"><h2>Il faut se connecter pour accéder à la liste des evenements</h2></div>
<div ng-if="isConnected" class="row marketing">
   
    <div>
        <h4>Liste des évenements</h4>


  <table ng-if="listeEvt.length!=0" class="table table-bordered" >
      <tr>
          <td>Numéro</td>
          <td>Titre</td>
          <td>Description</td>
          <td>Crénaux</td>
      </tr>
    <tr ng-repeat="module in listeEvt">
        <td>{{module.id}}</td>
        <td>{{ module.titre }} </td>
        <td>{{ module.description }} </td>
        <td><button ng-click="afficherCrean(module.listeCreneaux,module.id)"/>Crenaux</td>
    </tr>
</table> 
    </div> 
 
 <div ng-if="afficherCreanux==true" class="row marketing">
  <h4>Liste des Crénaux</h4>
  <table  class="table table-bordered">
      <tr>
          <td>Date</td>
           <td>Heure</td>
           <td>Participation</td>
      </tr>
      <tr ng-repeat="cr in CreauxAaffich" >
          <td>{{cr.date}}</td> 
          <td>{{cr.heure}}</td>
          <td><button ng-click="participer(cr.date,cr.heure)"/>Participer</td>
      </tr>
  </table>
  
<input type="button" ng-click="fermer()" value="Fermer"/>
</div>   
    
    
<div class="row marketing">
  <h4>Création d'évenement</h4>
<input type="text" ng-model="titre"/><br/>
<input type="text" ng-model="description"/><br/>
<input type="button" ng-click="creerEvt(titre,description)" value="Enregistrer"/>
</div>
    
  <div class="row marketing">
  <h4>Suppression d'évenement</h4>
<input type="number" ng-model="idtoDelete"/><br/>
<button ng-click="supprimerEvt(idtoDelete)" value="Supprimer"/>Supprimer
</div>
    
  <div class="row marketing">
  <h4>Création de créneau</h4>
  <input type="number" ng-model="idEvtCreanAdd"/><br/>
  <input type="text" ng-model="date"/><br/>
<input type="text" ng-model="heure"/><br/>
<button  ng-click="creerCrenau(idEvtCreanAdd,date,heure)" />Enregistrer
</div>
  
</div>
</body>